In [3]:
#importing the neccessary libraries needed 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
#loading the dataset from the link
url = 'http://bit.ly/HDSC-Dataset'
fuel_data = pd.read_csv(url, error_bad_lines = False)

In [6]:
#to see how the dataset look like
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [8]:
#finding the fuel type with the lowest average of fuel cost per unit burned 
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().min()

13.659396569737135

In [15]:
#finding the standard deviation and 75% of fuel mmbtu per unit
fuel_data.describe()['fuel_mmbtu_per_unit']

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [17]:
#finding the skewness of fuel quantity burned
fuel_data.skew()['fuel_qty_burned']

15.851495469109503

In [16]:
#finding the kurtosis of fuel quantity burned
fuel_data.kurtosis()['fuel_qty_burned']

651.3694501337732

In [21]:
#finding the feature with missing values 
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [18]:
x = fuel_data.isnull().sum()['fuel_unit']

In [19]:
y = len(fuel_data.index)

In [37]:
#finding the percentage of rows with missing values with respect to the total number of rows 
percentage = (x/y)*100
round(percentage, 3)

0.61

In [27]:
#calculating the percentage change of fuel cost per unit burned of coal between the year 1998 and 1994
df1 = fuel_data[fuel_data['report_year'] == 1994].groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].sum()
df2 = fuel_data[fuel_data['report_year'] == 1998].groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].sum()
percentage_change = ((df2['coal'] - df1['coal'])/df1['coal'])*100
print(percentage_change)

-20.56765451826049

In [24]:
#finding the year with the highest average value of fuel cost per unit delivered
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().max()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64